{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="product-details">
                <div class="row">
                    <div class="col-md-7">
                        <img class="product-image" src="{{ product.image.url }}" alt="Product Image">
                    </div>
                    <div class="col-md-5">
                        <div class="product-info">
                            <h2 class="product-title">{{ product.name }}</h2>
                            <p class="product-price">Цена: <span class="price">{{ product.price }} BYN</span></p>
                            <form action="{% url 'basket_add' product.slug %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_quantity">Количество:</label>
                                    {{ form.quantity }}
                                </div>
                                <button type="submit" class="btn btn-dark">Добавить в корзину</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="product-description">{{ product.description|safe }}</p>
                    </div>
                </div>
            </div>
            <div class="comments-section">
                <h3 class="comments-title">Отзывы</h3>
                {% for comment in comments %}
                <div class="comment-card">
                    <h6 class="comment-author">{{ comment.author }}</h6>
                    <p class="comment-body">{{ comment.body }}</p>
                    <p class="comment-date">{{ comment.created_on }}</p>
                </div>
                {% empty %}
                <p class="no-comments">Пока никто не оставил отзыв</p>
                {% endfor %}
                <hr>
                <h4 class="add-comment-title">Оставить отзыв:</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form.body }}
                    </div>
                    <button type="submit" class="btn btn-success">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}